body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/* Screens */
.screen {
    display: block;
    padding: 20px;
}

.hidden {
    display: none;
}

/* Bottom Navigation Bar */
#navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #004d40; /* Dark Whole Foods Green-ish */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}
